{
  "root": true,
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [
    "plugin:vue/vue3-essential",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaFeatures": {
      "jsx": false
    },
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "no-console": 1
  }
}
